<a href="https://colab.research.google.com/github/Azariagmt/jupyter-notebooks/blob/master/Classification_of_Malware_with_PE_headers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

load dataset

In [1]:
import pandas as pd
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/clamp/train_set_label.csv")

In [2]:
train_data.head()

   e_magic  e_cblp  e_cp  ...  LoaderFlags  NumberOfRvaAndSizes  class
0    23117     144     3  ...            0                   16      1
1    23117     144     3  ...            0                   16      1
2    23117     144     3  ...            0                   16      0
3    23117     144     3  ...            0                   16      0
4    23117     144     3  ...            0                   16      0

[5 rows x 56 columns]

In [4]:
X = train_data.drop(columns='class')
y = train_data['class']

from sklearn.model_selection import train_test_split
X_train, X,valid, y_train, y_valid = train_test_split(X,y, random_state=101)
X_train

ValueError: ignored